.env

server/serviceAccountKey.json

server/.env

node_modules

frontend/node_modules
frontend/dist
frontend/.env

# Ignore frontend node_modules
/frontend/node_modules/

# Ignore frontend .env files
/frontend/.env
/frontend/.env.local
/frontend/.env.development
/frontend/.env.production
/frontend/.env.test

# Ignore build folder if using Vite/React/etc.
/frontend/dist/
/frontend/build/

# Ignore log files
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Optional: Ignore IDE/editor files
/frontend/.DS_Store
/frontend/.vscode/

# Ignore server node_modules
/server/node_modules/

# Ignore server .env files
/server/.env
/server/*.log
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*
/server/package-lock.json

# Ignore keys
server/serviceAccountKey.json
myenv/
/Dataset/processed_data/X_train.npy
/Dataset/processed_data/X_val.npy
/Dataset/processed_data/y_train.npy
/Dataset/processed_data/y_val.npy

.venv/
server/model.h5
server/uploadIMG
