.popup{
    /* border: 1px solid rgb(109, 104, 104); */
    padding: 20px;
    justify-items: center;
    align-items: center;
    border-radius: 8px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* height: 200px;; */
    position: relative;;
}
.popup button{
  /* margin-left: 260px; */
  position: absolute;
  top: 0%;
  left: 40%;
  transform: translate(10%, 0%);
  -ms-transform: translate(-50%, -50%);
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  background: #d90429;
}
.css-button-shadow-border--red:hover {
  background-color: #ef233c;
}
.css-button-shadow-border--red:active {
  top: 2px;
}
